<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>K8s-admin</title>

    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/"> -->

    <!-- Bootstrap core CSS -->
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">

</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>Cluster admin page</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 order-md-1">
            <div class="row">
                <div class="col-sm-4 card">
                    <h4 class="text-center my-auto">Монолит</h4>
                </div>

                <div class="col-sm-8 card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Status</h5>
                        <p th:text="${depstatus}" class="card-text"></p>
                        <a th:href="@{/restart}" class="btn btn-lg btn-primary btn-block">Restart app</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 МТС DevOps</p>
        <!-- Footer place -> <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul> -->
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>